<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Some Website</title>
    </head>
    <body>
        {{> header }}

        <p>proejct page text would go hear.</p>

        {{> footer }}
    </body>
</html>
